.card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 24px;
    height: 208px;
    margin-bottom: 16px;
    display: flex;
    gap: 24px;
}

.img_movie {
    width: 100px;
    height: 120px;
    border-radius: 8px;
}

.films {
    width: 71vw;
}

.film {
    display: flex;
    gap: 16px;
}

.name {
    margin-bottom: 16px;
    font-family: "Roboto";
}

.info-name {
    color: rgba(171, 171, 171, 1);
    font-family: 'SF Pro Text';
    font-size: 14px;
    font-weight: 400;
    width: 90px;
}

.info-content {
    width: 40vw;
    font-family: 'SF Pro Text';
    font-size: 14px;
    font-weight: 400;
    color: rgba(27, 31, 35, 1);
}

.p-info {
    padding-bottom: 16px;
}

.loading {
    margin-top: 40vh;
    margin-left: 32vw;
    height: 48px;
    width: 48px;
    padding-bottom: 300px;
}

.link-unstyled {
    text-decoration: none;
    color: inherit; 
    z-index: auto;
    display: flex;
}
  
.link-unstyled:hover {
    text-decoration: none;
}

.gap-info {
    gap: 24px;
    display: flex;
}

.error-text {
    margin-bottom: 16px;
    font-family: "SF Pro Text";
    text-align: center;
}

.error {
    margin-top: 200px;
    margin-left: 300px;
}

.error-title {
    color: rgba(27, 31, 35, 1);
}

.error-subtitle {
    color: rgba(153, 159, 166, 1);
}
  